<div class="transport-container" [class.transport-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSnav()">
      <mat-icon class="rotating-icon" [class.rotated]="snav.opened">menu</mat-icon>
    </button>
    <h1 class="transport-app-name">Transport App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="transport-sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <div *ngFor="let nav of fillerNav">
          <a mat-list-item *ngIf="!nav.children; else subListTemplate" [routerLink]="nav.path">{{nav.name}}</a>
          <ng-template #subListTemplate>
            <div class="abstract-route" *ngIf="nav.children" [routerLink]="nav.path">
              <div class="route-name" (click)="changeChildrenVisiblity(nav)">{{nav.name}}
                <mat-icon class="rotating-icon" [class.rotated]="nav.showChildren">expand_more</mat-icon>
              </div>
              <mat-nav-list *ngIf="nav.showChildren">
                <div *ngFor="let subNav of nav.children">
                  <a mat-list-item [routerLink]="subNav.path">{{subNav.name}}
                  </a>
                </div>
              </mat-nav-list>
            </div>
          </ng-template>

        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- Page content -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
