.transport-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.transport-is-mobile .transport-toolbar {
  position: fixed;
  z-index: 2;
}

h1.transport-app-name {
  margin-left: 8px;
}

.transport-sidenav-container {
  flex: 1;
}

.transport-is-mobile .transport-sidenav-container {
  flex: 1 0 auto;
}

mat-sidenav-content {
  padding: .5em;
}

.rotating-icon {
  transition: transform .3s ease-in-out;
}

.rotating-icon.rotated {
  transform: rotate(180deg);
}

.abstract-route {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-color: darken(#fafafa, 1.5%);
  outline: none;
  cursor: pointer;
  .route-name {
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    &:hover {
      background-color: darken(#fafafa, 5%);
    }
  }
  mat-nav-list {
    width: 100%;
    background-color: #fafafa;
    border: 2px solid darken(#fafafa, 5%);
    border-top: 0px;
  }
}
