<mat-card>
<mat-card-title>Vehicles list</mat-card-title>
</mat-card>
<table mat-table [dataSource]="exampleVehicles" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Registration Number</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> Status</th>
    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
  </ng-container>

  <ng-container matColumnDef="mark">
    <th mat-header-cell *matHeaderCellDef> Mark</th>
    <td mat-cell *matCellDef="let element"> {{element.mark}} </td>
  </ng-container>

  <ng-container matColumnDef="fleetType">
    <th mat-header-cell *matHeaderCellDef> Owned|Leased</th>
    <td mat-cell *matCellDef="let element"> {{element.fleetType}} </td>
  </ng-container>

  <ng-container matColumnDef="leasingDateFrom">
    <th mat-header-cell *matHeaderCellDef> Leased from</th>
    <td mat-cell *matCellDef="let element"> {{element.leasingDateFrom | date:'shortDate' }} </td>
  </ng-container>

  <ng-container matColumnDef="leasingDateTo">
    <th mat-header-cell *matHeaderCellDef> Leased to</th>
    <td mat-cell *matCellDef="let element"> {{element.leasingDateTo | date:'shortDate' }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
