@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';
$background-color: #fafafa;

body {
  margin: 0;
  background: $background-color;
}

.section-margin {
  margin: 6px 0;
}

.form-column {
  display: flex;
  flex-direction: column;
}
